$p-black: #000;
$p-white:#fff;

$ff-nav: 'Rye', cursive;
$ff-text:'PT Serif', serif;

$fz-bg: 3rem;
$fz-md: 2rem;
$fz-sm: 1rem;

$font-weights: (
    'regular': 400,
    'medium': 500,
    'bold': 700,
);
 
$high-zindex: 5;
$lower-zindex: 2;
$low-zindex: 1;
$n-zindex: -1;

// :root{
//     /*COLOR*/
//     --black: #000;
//     --white: #fff;
//     /*TYPOGRAPHY*/
//     // --fz:;
//     --ff-paris:'Parisienne', cursive;
//     $ff-nav: 'Rye', cursive;
//     //font-family: 'Courgette', cursive; 
//     //font-family: 'Dancing Script', cursive; 
//     //font-family: 'Rye', cursive;
//     // --fz-bg
//     // --fz-m
//     // --fz-s
//     // --fw-bg
//     // --fw-m
//     // --fw-s
  
//     $high-zindex: 5;
//     $lower-zindex: 2;
//     $low-zindex: 1;
//     $n-zindex: -1;
    
//     // --mw
//   }